.msgs {
    color: #fff;
    background-color: #333; /* optional: improves readability */
    padding: 10px;
}

.main-box {
    min-height: 100vh; /* fills the screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}